* {
    max-width: 800px;   
    margin-left: auto;  
    margin-right: auto; 
    box-sizing: border-box; 
}

body {
    background-color:lightcyan;
}

#namePlate h2{
    text-align: center;
    text-decoration: none;
}

table {
    background: #f1f1f1f1;
    border-collapse: collapse;
    width: 100%;
}



th, td {
    border: 2px  solid black;
    padding: 1rem;
}

th {
    background: hsl(0, 0%, 83%);
}

h1, h2 {
    font-family: 'Inter', sans-serif
}

h2 {
    text-decoration: underline;
}

p ,ul, ol, form {
    font-family: 'Roboto';
}

header nav{
    border: 2px  solid black;
    border-radius: 20px;
    width: 100%;
    background: #f1f1f1f1;
}

nav ul {
    display: flex;
    padding: 0;
    list-style: none;
}


nav a {
    color: black;
}




#AboutMe img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover; 
}

#Skills ul {
    column-count: 2;
    column-rule: dotted 1px #333;
}

#Skills li {
    margin-left: 50px;
}

footer h2 {
    text-decoration: none;
}



footer ul {
    list-style-type: none; 
    padding: 0;  
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px
}


footer li a {
    display: flex;
    align-items: center; 
    text-decoration: none;
    color: rgb(253, 253, 253); 
}

footer li img {
    height: 24px;
    margin-right: 8px;
    display: block; 
}

footer {
    margin-top: 50px;
    background-color: darkgrey;
    color: white;
    padding: 20px 0;
    text-align: center;
}




/*

.testimonial-container {
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap;
}



#Testimonials blockquote {
    border: 1px dotted black;
    width: 250px;
    margin-inline-start: 5px;
    margin-inline-end: 5px;
    padding-inline-start: 5px;
}
*/



#selfPic {
    display: flex;
    flex-direction: row-reverse;
}


.slideshow-container {
    position: relative;
    background: #f1f1f1f1;
    max-width: 500px;
}
  
.mySlides {
    display: none;
    padding: 1px;
    text-align: center;
    font-size: 25px;
    padding-block-start: 30px;
    border-style: outset;
}

.mySlides .author {
    font-size: 15px;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #050505;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
  
.next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
}
  
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    color: white;
}
  
.dot-container {
    text-align: center;
    padding: 10px;
    background: #ddd;
    max-width: 500px;
    border-style: outset;

}
  
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: hsl(0, 0%, 73%);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
  
.active, .dot:hover {
    background-color: #717171;
}
  
q {
    font-style: italic;
}
  
.author {color: cornflowerblue;}


#ContactMe img{
    max-width: 1.5em;
    max-height: 1.5em;
}  